<%= simple_form_for(@evaluation) do |f| %>

  <section id="fourthContainer" class="third-container">

  <%= f.association :questionnaire, as: :hidden %>
  <div class="vertical-slider-container">
    <div class="vertical-slider">
      <input id="score1"></input>
      <%= f.input :value1, input_html: { id:'range1', class: 'input-vertical-slider', type: 'range', min: '0', max: '10', value: '5', onchange: 'rangeSlider1()'}%>
      <div class="satisfaction-div1 satisfaction-div">
        <p><%= @questionnaire.question1 %></p>
      </div>
    </div>

    <div class="vertical-slider">
      <input id="score2"></input>
      <%= f.input :value2, input_html: { id:'range2', class: 'input-vertical-slider', type: 'range', min: '0', max: '10', value: '5', onchange: 'rangeSlider2()'}%>
      <div class="satisfaction-div2 satisfaction-div">
        <p><%= @questionnaire.question2 %></p>
      </div>
    </div>

    <div class="vertical-slider">
      <input id="score3"></input>
      <%= f.input :value3, input_html: { id:'range3', class: 'input-vertical-slider', type: 'range', min: '0', max: '10', value: '5', onchange: 'rangeSlider3()'}%>
      <div class="satisfaction-div3 satisfaction-div">
        <p><%= @questionnaire.question3 %></p>
      </div>
    </div>

    <div class="vertical-slider">
      <input id="score4"></input>
      <%= f.input :value4, input_html: { id:'range4', class: 'input-vertical-slider', type: 'range', min: '0', max: '10', value: '5', onchange: 'rangeSlider4()'}%>
      <div class="satisfaction-div4 satisfaction-div">
        <p><%= @questionnaire.question4 %></p>
      </div>
    </div>

    <div class="vertical-slider">
      <input id="score5"></input>
      <%= f.input :value5, input_html: { id:'range5', class: 'input-vertical-slider', type: 'range', min: '0', max: '10', value: '5', onchange: 'rangeSlider5()'}%>
      <div class="satisfaction-div5 satisfaction-div">
        <p><%= @questionnaire.question5 %></p>
      </div>
    </div>
      <%= f.submit 'Enregistrer', class: 'enregistrer btn btn-outline-success' %>
  </div>
</section>

<% end %>

