<p id="notice"><%= notice %></p>

<h1>Evaluations</h1>

<div class="container">
    <table class="table table-bordered">
        <thead class="thead-dark">   
            <tr>
                <th scope="col">Questionnaire</th>
                <th scope="col">Valeur 1</th>
                <th scope="col">Valeur 2</th>
                <th scope="col">Valeur 3</th>
                <th scope="col">Valeur 4</th>
                <th scope="col">Valeur 5</th>
                <th scope="col">Score</th>
                <th scope="col">Outils</th>

            </tr>
        </thead>

        <tbody>
        <% @evaluations.each do |evaluation| %>
            <tr>
                <td><%= evaluation.questionnaire %></td>
                <td><%= evaluation.value1 %></td>
                <td><%= evaluation.value2 %></td>
                <td><%= evaluation.value3 %></td>
                <td><%= evaluation.value4 %></td>
                <td><%= evaluation.value5 %></td>
                <th scope="row"><%= evaluation.score %></th>
                <td>
                    <%= link_to 'Voir', evaluation, class: 'btn btn-success rounded-0' %>
                    <%= link_to 'Editer', edit_evaluation_path(evaluation), class: 'btn btn-primary rounded-0' %>
                    <%= link_to 'Supprimer', evaluation, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger rounded-0' %>
                </td>
            </tr>
        <% end %>
        </tbody>
    </table>
</div>

<div class="form-actions mt-5 text-center">
    <%= link_to 'New Evaluation', new_evaluation_path, class: "btn btn-dark rounded-pill" %>
</div>

