<p id="notice"><%= notice %></p>

<h1 class="text-center my-5">Mes évaluations</h1>

<% @evaluation.each do |evaluation| %>
<div class="table-responsive">
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <th colspan="6">
                <div class="d-flex justify-content-between align-items-center">
                    Evaluation n°<%= evaluation.id %>
                    <div>
                    <%= link_to 'Voir', evaluation, class: 'btn btn-success rounded-0' %>
                    <%= link_to 'Editer', edit_evaluation_path(evaluation), class: 'btn btn-primary rounded-0' %>
                    <%= link_to 'Supprimer', evaluation, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger rounded-0' %>
                    </div>
                </div>
            </th>
        </thead>
        <thead>
            <tr>
                <th scope="col">Valeur 1</th>
                <th scope="col">Valeur 2</th>
                <th scope="col">Valeur 3</th>
                <th scope="col">Valeur 4</th>
                <th scope="col">Valeur 5</th>
                <th scope="col">Score</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td><%= evaluation.value1 %></td>
                <td><%= evaluation.value2 %></td>
                <td><%= evaluation.value3 %></td>
                <td><%= evaluation.value4 %></td>
                <td><%= evaluation.value5 %></td>
                <th scope="row"><%= evaluation.score %></th>
            </tr>
        </tbody>
    </table>
</div>
<% end %>



<div class="form-actions mt-5 text-center">
    <%= link_to 'New Evaluation', new_evaluation_path, class: "btn btn-dark rounded-pill" %>
</div>

