

<section class="first-container">
  <div class="welcome-container">
    <div class="welcome-container-text">
      <h1 class="title">Mesurez votre qualité de vie</h1>
      <p class="intro">Vous souhaitez mesurer votre qualité de vie? ATEV vous propose de</p>
      <p class="intro"> faire le test en quelques minutes grâce au Qualiviscope</p>
    </div>
    <a href="#secondContainer" class="btn-continuer">DEMARRER</a>
  </div>
</section>

<section id="secondContainer" class="second-container">
  <h2>Comment ca marche ?</h2>
  <div class="img-container">
    <div class="img-text-etape">
      <%= image_tag "etape1.png", alt: "Mon image", class: "img-etape" %>
      <p class="etape">
        Etapes 1: Mes 5 éléments
      </p>
      <p class="etape-description">Définissez les 5 element essentiels pour votre bonheur</p>
    </div>

    <div class="img-text-etape">
      <%= image_tag "etape2.png", alt: "Mon image", class: "img-etape" %>
      <p class="etape">
        Etapes 2: L'importance des éléments
      </p>
      <p class="etape-description">Evaluez comment ces éléments influencent votre vie</p>
    </div>

    <div class="img-text-etape">
      <%= image_tag "etape3.png", alt: "Mon image", class: "img-etape" %>
      <p class="etape">
        Etapes 3: Mon niveau de satisfaction
      </p>
      <p class="etape-description">Notez l'état de ces éléments dans votre vie actuelle</p>
    </div>

    <div class="img-text-etape">
      <%= image_tag "etape4.png", alt: "Mon image", class: "img-etape" %>
      <p class="etape">
        Etapes 4: Mon score qualité de vie
      </p>
    </div>

    <div class="img-etape-text">
      <p>Voila grâce aux étapes précédentes vous obtenez votre Qualiviscore: votre score de qualité sur 100 !</p>
    </div>

    <div class="etape-btn">
      <a href="/questionnaires/new">J'AI COMPRIS</a>
    </div>
  </div>
</section>



<!-- <section id="secondContainer" class="second-container">
  <h2>Important1</h2>
  <input type="range" value="20" name="rangeInput" min="1" max="100" onchange="updateTextInput1(this.value);">
  <input type="text" id="textInput" value="20">
  <input type="text" id="newVal1" name="">
  <h2>Important2</h2>
  <input type="range" value="20" name="rangeInput" min="1" max="100" onchange="updateTextInput2(this.value);">
  <input type="text" id="textInput2" value="20">
  <input type="text" id="newVal2" name="">
  <h2>Important3</h2>
  <input type="range" value="20" name="rangeInput" min="1" max="100" onchange="updateTextInput3(this.value);">
  <input type="text" id="textInput3" value="20">
  <input type="text" id="newVal3" name="">
  <h2>Important4</h2>
  <input type="range" value="20" name="rangeInput" min="1" max="100" onchange="updateTextInput4(this.value);">
  <input type="text" id="textInput4" value="20">
  <input type="text" id="newVal4" name="">
  <h2>Important5</h2>
  <input type="range" value="20" name="rangeInput" min="1" max="100" onchange="updateTextInput5(this.value);">
  <input type="text" id="textInput5" value="20">
  <input type="text" id="newVal5" name="">

  <h2>Résultat</h2>
  <input type="text" id="textInput6" value="100">
  <input type="text" id="newVal6" name="">

  <div id="chart-div"></div>
</section>


<p> Je souhaite tester ma vie</p>
<%= link_to 'Cliquer ici', new_questionnaire_path, class: "btn btn-outline-success" %>



<h2> <center>Mon niveau de satisfaction?</center> </h2>
<div class="slider-container">
  <div class="slider-text-container">
    <h2 id="output1">5</h2>
    <input id="slider1" type="range" name="" min="0" max="10" class="rangevertical" onchange="updateslider1();">
  </div>
  <div class="slider-text-container">
    <h2 id="output2">5</h2>
    <input id="slider2" type="range" name="" min="0" max="10" class="rangevertical" onchange="updateslider2();">
  </div>
  <div class="slider-text-container">
    <h2 id="output3">5</h2>
    <input id="slider3" type="range" name="" min="0" max="10" class="rangevertical" onchange="updateslider3();">
  </div>
  <div class="slider-text-container">
    <h2 id="output4">5</h2>
    <input id="slider4" type="range" name="" min="0" max="10" class="rangevertical" onchange="updateslider4();">
  </div>
  <div class="slider-text-container">
    <h2 id="output5">5</h2>
    <input id="slider5" type="range" name="" min="0" max="10" class="rangevertical" onchange="updateslider5();">
  </div>
</div> -->

<script src="https://www.amcharts.com/lib/4/core.js"></script>
<script src="https://www.amcharts.com/lib/4/charts.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/material.js"></script>
<script src="https://www.amcharts.com/lib/4/themes/animated.js"></script>
<script type="text/javascript">
  // Themes begin
  am4core.useTheme(am4themes_material);
  am4core.useTheme(am4themes_animated);
  // Themes end

  // Create chart
  var chart = am4core.create("chartdiv", am4charts.PieChart);
  chart.hiddenState.properties.opacity = 0; // this creates initial fade-in
  chart.innerRadius = am4core.percent(15);
  var charttot = am4core.create("charttotal", am4charts.PieChart);
  charttot.hiddenState.properties.opacity = 0; // this creates initial fade-in
  charttot.innerRadius = am4core.percent(11);

  var note1 = 20;
  var note2 = 50;
  var note3 = 60;
  var note4 = 80;
  var note5 = 20;

  var val1 = 70;
  var val2 = 50;
  var val3 = 30;
  var val4 = 100;
  var val5 = 40;

  chart.data = [

    {
      choice: "Choix 1",
      part: val1,
      note: note1,
      "color": am4core.color('#ED6B80')
    },
    {
      choice: "Choix 2",
      part: val2,
      note: note2,
      "color": am4core.color('#CAD639')
    },
    {
      choice: "Choix 3",
      part: val3,
      note: note3,
      "color": am4core.color('#384B9B')
    },
    {
      choice: "Choix 4",
      part: val4,
      note: note4,
      "color": am4core.color('#81B3A3')
    },
    {
      choice: "Choix 5",
      part: val5,
      note: note5,
      "color": am4core.color('#F8CF62')
    },

  ];

  charttot.data = [

    {
      choice: "Choix 1",
      part: val1,
      note: 1,
      "color": am4core.color('#ED6B80')
    },
    {
      choice: "Choix 2",
      part: val2,
      note: 1,
      "color": am4core.color('#CAD639')
    },
    {
      choice: "Choix 3",
      part: val3,
      note: 1,
      "color": am4core.color('#384B9B')
    },
    {
      choice: "Choix 4",
      part: val4,
      note: 1,
      "color": am4core.color('#81B3A3')
    },
    {
      choice: "Choix 5",
      part: val5,
      note: 1,
      "color": am4core.color('#F8CF62')
    },

  ];


  var series = chart.series.push(new am4charts.PieSeries());
  series.dataFields.value = "part";
  series.dataFields.radiusValue = "note";
  series.dataFields.category = "choice";
  series.slices.template.propertyFields.fill = "color";
  series.colors.step = 3;
  series.labels.template.disabled = true;
  series.ticks.template.disabled = true;
  series.hiddenState.properties.endAngle = -90;


  series.slices.template.tooltipText = "";


  var seriestot = charttot.series.push(new am4charts.PieSeries());
  seriestot.dataFields.value = "part";
  seriestot.dataFields.radiusValue = "note";
  seriestot.dataFields.category = "choice";
  seriestot.slices.template.propertyFields.fill = "color";
  seriestot.colors.step = 3;
  seriestot.labels.template.disabled = true;
  seriestot.ticks.template.disabled = true;
  seriestot.hiddenState.properties.endAngle = -90;
  // Put a thick white border around each Slice
  //seriestot.slices.template.stroke = am4core.color("#000");
  //seriestot.slices.template.strokeWidth = 2;
  //seriestot.slices.template.strokeOpacity = 1;

  seriestot.slices.template.fillOpacity = 0.2;

  //chart.legend = new am4charts.Legend();

</script>


