
<div class="jumbotron bg-transparent text-center rounded-0 mb-5 shadow">
    <h1>Mesurez votre qualité de vie</h1>
    <p>
    Vous souhaitez mesurer votre qualité de vie ?<br>
    ATEV vous propose de faire le test en quelques minutes grâce au Qualiviscope.
    </p>
    <%= link_to 'Démarrer', '#secondContainer', class: 'btn btn-lg btn-dark rounded-pill' %>
</div>

<div id="secondContainer">
    <h1 class="mb-5">Comment ça marche ?</h1>
    <div class="row">
        <div class="col-md-3">
            <%= image_tag "etape1.png", alt: "Etape 1", class: "img-fluid mb-5" %>
            <h4>Etape 1: Mes 5 éléments</h4>
            <p>Définissez les 5 element essentiels pour votre bonheur</p>
        </div>

        <div class="col-md-3">
            <%= image_tag "etape2.png", alt: "Etape 2", class: "img-fluid mb-5" %>
            <h4>Etape 2: L'importance des éléments</h4>
            <p>Evaluez comment ces éléments influencent votre vie</p>
        </div>

        <div class="col-md-3">
            <%= image_tag "etape3.png", alt: "Etape 3", class: "img-fluid mb-5" %>
            <h4>Etape 3: Mon niveau de satisfaction</h4>
            <p>Notez l'état de ces éléments dans votre vie actuelle</p>
        </div>

        <div class="col-md-3">
            <%= image_tag "etape4.png", alt: "Etape 4", class: "img-fluid mb-5" %>
            <h4>Etapes 4: Mon score qualité de vie</h4>
            <p>Voila grâce aux étapes précédentes vous obtenez votre Qualiviscore: votre score de qualité sur 100 !</p>
        </div>
    </div>
    <p class="text-center my-2">
    <%= link_to 'J\'ai compris !', new_questionnaire_path, class: 'btn btn-lg btn-dark rounded-pill' %>
    </p>
</div>
