<%= simple_form_for(@questionnaire) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>


    <div class="container">
      <div class="jumbotron bg-transparent text-center rounded-0 mb-5">
        <div class="mt-3 mb-5">
          <h1>Etape 1 : Mes 5 éléments</h1>

              <p>Les éléments de ma qualité de vie. Prenez quelques minutes. Prenez quelques minutes. Inscrivez dans les champs suivants :</p>
              <p>Les 5 éléments essentiels pour vous afin d'avoir "une bonne et belle vie".</p>
              <p>Les 5 valeurs attribuées à ces champs correspondantes à l'importance que vous y portez.</p>
        </div>
      </div>

        <div class="mt-5 mb-5">
            <div class="row mb-5">
                <div class="col-md-2">
                    <div class="colored-div colored-div--purple"></div>
                </div>
                <div class="col-md-4">
                <%= f.input :question1,
                    label: false,
                    input_html: {
                    placeholder: 'Exemple 1 : Je souhaite garder une bonne santé'}
                      %>
                </div>
                <div class="col-md-6">
                    <div class="range-slider">
                        <!-- <span id="rs-bullet1" class="rs-label purple">1</span> -->
                        <input class="rs-range purple" id="rs-range-line1" type="range" value="50" name="rangeInput" min="1" max="100" onchange="updateTextInput1(this.value);">
                        <input type="text" id="textInput" value="50" style="display: none;">
                        <div class="d-flex justify-content-between ">
                          <p class="text-muted font-italic">Peu important</p>
                          <p class="text-muted font-italic">Très important</p>
                        </div>
                    </div>
                    <%= f.input :importance1,
                    label: false,
                    input_html: { class: 'slider',id: 'newVal1',value: '50', type: 'text', onchange: 'updateTextInput1(this.value)', style: 'display: none;'}%>
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-md-2">
                    <div class="colored-div colored-div--pink"></div>
                </div>
                <div class="col-md-4">
                    <%= f.input :question2,
                    label: false,
                    input_html: { class: 'bien-etre',
                    placeholder: 'Exemple 2 : Je souhaite voir mes amis'}%>
                </div>
                <div class="col-md-6">
                    <div class="range-slider">
                        <!-- <span id="rs-bullet2" class="rs-label pink">1</span> -->
                        <input class="rs-range pink" id="rs-range-line2" type="range" value="50" name="rangeInput" min="1" max="100" onchange="updateTextInput2(this.value);">
                        <input type="text" id="textInput2" value="50" style="display: none;">
                        <div class="d-flex justify-content-between ">
                          <p class="text-muted font-italic">Peu important</p>
                          <p class="text-muted font-italic">Très important</p>
                        </div>
                    </div>
                        <%= f.input :importance2,
                        label: false,
                        input_html: { class: 'slider',id: 'newVal2',value: '50', type: 'text', onchange: 'updateTextInput2(this.value)', style: 'display: none;'}%>
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-md-2">
                    <div class="colored-div colored-div--yellow"></div>
                </div>
                <div class="col-md-4">
                    <%= f.input :question3,
                    label: false,
                    input_html: { class: 'bien-etre',
                    placeholder: 'Exemple 3 : Je veux avoir du temps pour ma famille'}%>
                </div>
                <div class="col-md-6">
                    <div class="range-slider">
                        <!-- <span id="rs-bullet3" class="rs-label yellow">1</span> -->
                        <input class="rs-range yellow" id="rs-range-line3" type="range" value="50" name="rangeInput" min="1" max="100" onchange="updateTextInput3(this.value);">
                        <input type="text" id="textInput3" value="50" style="display: none;">
                        <div class="d-flex justify-content-between ">
                          <p class="text-muted font-italic">Peu important</p>
                          <p class="text-muted font-italic">Très important</p>
                        </div>
                    </div>
                        <%= f.input :importance3,
                        label: false,
                        input_html: { class: 'slider',id: 'newVal3',value: '50', type: 'text', onchange: 'updateTextInput3(this.value)', style: 'display: none;'}%>
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-md-2">
                    <div class="colored-div colored-div--green"></div>
                </div>
                <div class="col-md-4">
                <%= f.input :question4,
                    label: false,
                    input_html: { class: 'bien-etre',
                    placeholder: 'Exemple 4 : Je souhaite avoir une condition finançière stable'}
                      %>
                </div>
                <div class="col-md-6">
                    <div class="range-slider">
                        <!-- <span id="rs-bullet4" class="rs-label green">1</span> -->
                        <input class="rs-range green" id="rs-range-line4" type="range" value="50" name="rangeInput" min="1" max="100" onchange="updateTextInput4(this.value);">
                        <input type="text" id="textInput4" value="50" style="display: none;">
                        <div class="d-flex justify-content-between ">
                          <p class="text-muted font-italic">Peu important</p>
                          <p class="text-muted font-italic">Très important</p>
                        </div>
                    </div>
                    <%= f.input :importance4,
                    label: false,
                    input_html: { class: 'slider',id: 'newVal4',value: '50', type: 'text', onchange: 'updateTextInput4(this.value)', style: 'display: none;'}%>
                </div>
            </div>

            <div class="row mb-5">
                <div class="col-md-2">
                    <div class="colored-div colored-div--light-green"></div>
                </div>
                <div class="col-md-4">
                <%= f.input :question5,
                    label: false,
                    input_html: { class: 'bien-etre',
                    placeholder: 'Exemple 5 : Je souhaite vivre de ma passion...'}%>
                </div>
                <div class="col-md-6">
                    <div class="range-slider">
                        <!-- <span id="rs-bullet5" class="rs-label light-green">1</span> -->
                        <input class="rs-range light-green" id="rs-range-line5" class="" type="range" value="50" name="rangeInput" min="1" max="100" onchange="updateTextInput5(this.value);">
                        <input type="text" id="textInput5" value="50" style="display: none;">
                        <div class="d-flex justify-content-between ">
                          <p class="text-muted font-italic">Peu important</p>
                          <p class="text-muted font-italic">Très important</p>
                        </div>
                    </div>
                    <%= f.input :importance5,
                    label: false,
                    input_html: { class: 'slider',id: 'newVal5',value: '50', type: 'text', onchange: 'updateTextInput5(this.value)', style: 'display: none;'}%>
                </div>
            </div>

            <div class="form-actions mt-5 text-center">
                <%= f.button :submit, class: "btn btn-dark rounded-pill", value: 'Confirmer' %>
            </div>
        </div>
    </div>


<% end %>
<script type="text/javascript">

    // var rangeSliderTest1 = document.getElementById("rs-range-line1");
    // var rangeBulletTest1 = document.getElementById("rs-bullet1");
    // rangeSliderTest1.addEventListener("input", showSliderValue1, false);

    // function showSliderValue1() {
    //     rangeBulletTest1.innerHTML = rangeSliderTest1.value;
    //     var bulletPosition1 = (rangeSliderTest1.value /rangeSliderTest1.max);
    //     rangeBulletTest1.style.left = (bulletPosition1 * 92.1) + "%";
    // }

    // var rangeSliderTest2 = document.getElementById("rs-range-line2");
    // var rangeBulletTest2 = document.getElementById("rs-bullet2");
    // rangeSliderTest2.addEventListener("input", showSliderValue2, false);

    // function showSliderValue2() {
    //     rangeBulletTest2.innerHTML = rangeSliderTest2.value;
    //     var bulletPosition2 = (rangeSliderTest2.value /rangeSliderTest2.max);
    //     rangeBulletTest2.style.left = (bulletPosition2 * 92.1) + "%";
    // }

    // var rangeSliderTest3 = document.getElementById("rs-range-line3");
    // var rangeBulletTest3 = document.getElementById("rs-bullet3");
    // rangeSliderTest3.addEventListener("input", showSliderValue3, false);

    // function showSliderValue3() {
    //     rangeBulletTest3.innerHTML = rangeSliderTest3.value;
    //     var bulletPosition3 = (rangeSliderTest3.value /rangeSliderTest3.max);
    //     rangeBulletTest3.style.left = (bulletPosition3 * 92.1) + "%";
    // }

    // var rangeSliderTest4 = document.getElementById("rs-range-line4");
    // var rangeBulletTest4 = document.getElementById("rs-bullet4");
    // rangeSliderTest4.addEventListener("input", showSliderValue4, false);

    // function showSliderValue4() {
    //     rangeBulletTest4.innerHTML = rangeSliderTest4.value;
    //     var bulletPosition4 = (rangeSliderTest4.value /rangeSliderTest4.max);
    //     rangeBulletTest4.style.left = (bulletPosition4 * 92.1) + "%";
    // }

    // var rangeSliderTest5 = document.getElementById("rs-range-line5");
    // var rangeBulletTest5 = document.getElementById("rs-bullet5");
    // rangeSliderTest5.addEventListener("input", showSliderValue5, false);

    // function showSliderValue5() {
    //     rangeBulletTest5.innerHTML = rangeSliderTest5.value;
    //     var bulletPosition5 = (rangeSliderTest5.value /rangeSliderTest5.max);
    //     rangeBulletTest5.style.left = (bulletPosition5 * 92.1) + "%";
    // }

</script>
