


<%= simple_form_for(@questionnaire) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>



  <div class="form-inputs">
    <div class="form-container">
      <div class="question"><%= f.input :question1%></div>
      <div class="importance"><%= f.input :importance1%></div>
      <div class="question"><%= f.input :question2%></div>
      <div class="importance"><%= f.input :importance2%></div>
      <div class="question"><%= f.input :question3%></div>
      <div class="importance"><%= f.input :importance3%></div>
      <div class="question"><%= f.input :question4%></div>
      <div class="importance"><%= f.input :importance4%></div>
      <div class="question"><%= f.input :question5%></div>
      <div class="importance"><%= f.input :importance5%></div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: "btn-dark" %>
  </div>
<% end %>
