


<%= simple_form_for(@questionnaire) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>


<section id="thirdContainer" class="third-container">
  <div class="five-elements">
    <h3>Etape 1: Mes 5 éléments</h3>
    <p>les éléments de ma qualité de vie. Prenez quelques minutes. Définissez par une phrase dans les champs suivants</p>
    <p> les 5 ELEMENTS essentiels pour vous pour "avoir une bonne et belle vie".</p>
    <p>Vous n'êtes pas obligés d'en rentrer 5 (mais c'est mieux!), il n'y a pas de mauvaise réponse.</p>
    <p class="important-text">Ce qui est important pour moi...</p>

    <div class="five-element-container">
      <div class="element">
        <div class="colored-div1"></div>
        <%= f.input :question1, input_html: { class: 'bien-etre', placeholder: 'Exemple Jaimerais garder une bonne santé'}%>
        <input type="range" value="20" name="rangeInput" min="1" max="100" onchange="updateTextInput1(this.value);">
        <input type="text" id="textInput" value="20">
        <%= f.input :importance1, input_html: { class: 'slider',id: 'newVal1', type: 'text', onchange: 'updateTextInput1(this.value)', style: 'display: none;'}%>
      </div>

      <div class="element">
        <div class="colored-div2"></div>
        <%= f.input :question2, input_html: { class: 'bien-etre', placeholder: 'Exemple Jaimerais garder une bonne santé'}%>
       <input type="range" value="20" name="rangeInput" min="1" max="100" onchange="updateTextInput2(this.value);">
        <input type="text" id="textInput2" value="20">
        <%= f.input :importance2, input_html: { class: 'slider',id: 'newVal2', type: 'text', onchange: 'updateTextInput2(this.value)', style: 'display: none;'}%>
      </div>

      <div class="element">
        <div class="colored-div3"></div>
        <%= f.input :question3, input_html: { class: 'bien-etre', placeholder: 'Exemple Jaimerais garder une bonne santé'}%>
        <input type="range" value="20" name="rangeInput" min="1" max="100" onchange="updateTextInput3(this.value);">
        <input type="text" id="textInput3" value="20">
        <%= f.input :importance3, input_html: { class: 'slider',id: 'newVal3', type: 'text', onchange: 'updateTextInput3(this.value)', style: 'display: none;'}%>
      </div>

      <div class="element">
        <div class="colored-div4"></div>
        <%= f.input :question4, input_html: { class: 'bien-etre', placeholder: 'Exemple Jaimerais garder une bonne santé'}%>
        <input type="range" value="20" name="rangeInput" min="1" max="100" onchange="updateTextInput4(this.value);">
        <input type="text" id="textInput4" value="20">
        <%= f.input :importance4, input_html: { class: 'slider',id: 'newVal4', type: 'text', onchange: 'updateTextInput4(this.value)', style: 'display: none;'}%>
      </div>

      <div class="element">
        <div class="colored-div5"></div>
        <%= f.input :question5, input_html: { class: 'bien-etre', placeholder: 'Exemple Jaimerais garder une bonne santé'}%>
        <input type="range" value="20" name="rangeInput" min="1" max="100" onchange="updateTextInput5(this.value);">
        <input type="text" id="textInput5" value="20">
        <%= f.input :importance5, input_html: { class: 'slider',id: 'newVal5', type: 'text', onchange: 'updateTextInput5(this.value)', style: 'display: none;'}%>
      </div>




    </div>

  </div>
  <div class="form-actions">
    <%= f.button :submit, class: "element-btn" %>
  </div>
<% end %>
