<h1><%= @questionnaire %></h1>

<p>
  <%= @questionnaire.question1 %>
  (<%= @questionnaire.importance1 %>)
</p>

<p>
  <%= @questionnaire.question2 %>
  (<%= @questionnaire.importance2 %>)
</p>

<p>
  <%= @questionnaire.question3 %>
  (<%= @questionnaire.importance3 %>)
</p>
</p>

<p>
  <%= @questionnaire.question4 %>
  (<%= @questionnaire.importance4 %>)
</p>

<p>
  <%= @questionnaire.question5 %>
  (<%= @questionnaire.importance5 %>)
</p>

<h2>Evaluations</h2>

<%= link_to 'Nouvelle evaluation', new_evaluation_path(questionnaire_id: @questionnaire.id) %>
