<!DOCTYPE html>
<html>
  <head>
    <title>Qualiviscope</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <link href="https://fonts.googleapis.com/css?family=Cabin:400,400i,500,500i,600,600i,700,700i&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  </head>

  <body>
    <%= image_tag "logo.png", alt: "Mon image", class: "logo" %>

    <div onclick="oui()" class="icon">
      <div class="hamburger"></div>
    </div>
    <section class="menu-container">
      <%= link_to 'Accueil', home_index_path, class: "menu-link" %>
      <%= link_to 'New questionnaire', new_questionnaire_path, class: "menu-link" %>
      <%= link_to 'Questionnaire', questionnaires_path, class: "menu-link" %>
      <%= link_to 'Evaluation', evaluations_path, class: "menu-link" %>
      <%= link_to 'New Evaluation', new_evaluation_path, class: "menu-link" %>
    </section>


  <!-- <p>
    <% if user_signed_in? %>
      <p>Bonjour <%= current_user.email %></p>




      <%= link_to 'Se déconnecter', destroy_user_session_path, method: :delete, class: "btn btn-danger" %>
      <%= link_to 'Editer mon profil', edit_user_registration_path, class: "btn btn-primary" %>

    <% else %>


    <% end %>
  </p> -->
  <section class="body-container">
    <%= yield %>
  </section>


  </body>
</html>
